    <div align="center" style="padding:150">

    <table>
        <tr>
            <td align="center" colspan="2"><h4>{{pizza.name}}</h4></td>
        </tr>
        <tr>
            <td align="center">
                <img ng-src="{{pizza.image}}" width="250"><br>
            </td>
            <td align="center"><i>{{pizza.description}}</i></td>
        </tr>
        <tr>
            <td align="center"><h4> <i>RATE : &#8377 {{pizza.rate}} /- </i></h4></td>
            <td align="center">
                <select ng-model="user.qty" ng-click="enter()" >
                    <option value="">Number Of Pieces</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>       
            </td>

        </tr>

        <tr>
            <td align="center"><a href="index.html">Back To Pizza List</a></td>
            <td align="center"><a href="#/cart">Add To Cart</a></td>
        </tr>
    </table>    
    </div>

